body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.welcome-container {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 50px;
    margin-top: 20%;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}
